In [1]:
# basics
import numpy as np
import pandas as pd
import scipy.stats as stats

# graphing
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# preprocessing
from sklearn.preprocessing import PolynomialFeatures, StandardScaler, MinMaxScaler

# model selection
from sklearn.model_selection import train_test_split, KFold, GridSearchCV, cross_val_score

from sklearn.metrics import (r2_score, mean_squared_error, accuracy_score, precision_score, recall_score, make_scorer,
                             f1_score, roc_auc_score, roc_curve, precision_recall_curve)

# models
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet, LogisticRegression

# enable reload of changed files
%load_ext autoreload
%autoreload 2

# plot inline
%matplotlib inline

In [4]:
train_df = pd.read_csv('data/Train.csv', index_col='SalesID')
test_df = pd.read_csv('data/test.csv', index_col='SalesID')

/home/chyld/.local/miniconda3/envs/tau/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (13,39,40,41) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [21]:
from functions import clean

In [28]:
clean(train_df).head()

         YearMade  MachineHoursCurrentMeter
SalesID
1139246      2004                      68.0
1139248      1996                    4640.0
1139249      2001                    2838.0
1139251      2001                    3486.0
1139253      2007                     722.0

In [31]:
clean(test_df).head()

         YearMade  MachineHoursCurrentMeter
SalesID
1222837      1000                       0.0
1222839      2006                    4412.0
1222841      2000                   10127.0
1222843      1000                    4682.0
1222845      2002                    8150.0